<div class="dynamic-multivalue-field-group clearfix">
    {% for wtitle, w in widgets %}
        <label class="dynamic-multivalue-child-field">
            <span>{{wtitle}}</span>
            <div class="input-group">
                {{w|safe}}
                <span class="input-group-btn">
                    <button class="btn btn-warning dynamic-multivalue-field-remove" type="button">&nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;</button>
                </span>
            </div>
        </label>
    {% endfor %}
    <button class="btn btn-default pull-right dynamic-multivalue-field-add" type="button">&nbsp;<span class="glyphicon glyphicon-plus"></span>&nbsp;</button>
</div>