{% load fedoralink_tags %}

<div class="fedoralink_ui-linked-field"
           {% if attrs.link_url %}
            data-link-url="{% url attrs.link_url model_name=model_field.related_model|classname %}"
        {% else %}
            data-link-url="{% url 'fedoralink_ui:choose_link' model_name=model_field.related_model|classname %}"
        {% endif %}
    >
    <input type="hidden"
           value="{{ value.1 }}"
           placeholder="Přílohy k akreditačnímu dokumentu"
           {{ flatatt }} class="form-control">
    <div class="input-group">
        <span class="form-control link-label"
              data-target="#{{attrs.id|add:'_link_dialog'}}"
              data-toggle='modal'>{{value.0}}</span>
        <span class="input-group-btn">
           <button class="btn btn-default link-button" type="button"><span class="glyphicon glyphicon-link"></span></button>
        </span>
    </div>

    <!-- Modal -->
    <div class="modal fade link-dialog" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Select link destination</h4>
          </div>
          <div class="modal-body">
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      </div>
    </div>
</div>

