{% load i18n %}
{% load fedoralink_tags %}


<div class="panel panel-default facet-box">
    <div class="panel-heading">
        <h4>
            <a data-toggle="collapse" href="#__facet_panel_{{ esc_id }}"><i class="fa fa-fw fa-search"></i> {{ name }}
            </a>
        </h4>
    </div>
    <div class="panel-collapse {% if not selected_values %}collapse{% endif %}" id="__facet_panel_{{ esc_id }}">
        <div class="panel-body">
            <table>
                {% for value in values %}
                    {% if value.1 %}
                        <tr>
                            <td>
                                <input type='checkbox' name="facet__{{ id }}" id="__facet_panel_checkbox_{{ esc_id }}"
                                       value="{{ value.0|escape }}"
                                        {% ifinfacets id value.0 %}
                                       checked
                                        {% endifinfacets %}
                                        >
                            </td>
                            <td>
                                <label for="__facet_panel_checkbox_{{ esc_id }}">
                                    <span>
                                        {% if i18n_requested %}
                                            {% trans value.0 %}
                                        {% else %}
                                            {{ value.0 }}
                                        {% endif %}
                                    </span>
                                    <span class="text-muted">({{ value.1 }})</span>
                                </label>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        {% if not selected_values %}
            <div class="panel-footer">
                <a data-toggle="modal" data-target="#__facet_dialog_{{ esc_id }}">{% trans "More values ..." %}</a>
            </div>

        {% endif %}
    </div>
</div>

<div class="modal fade facet-selection-dialog" id="__facet_dialog_{{ esc_id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"><i class="fa fa-fw fa-search"></i> {{ name }}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans "Choose values for filter" %}</p>
                <div class="facet-selection-dialog-list">
                    {% for value in all_values %}
                        {% if value.1 %}
                            <div>
                                <input type='checkbox' name="facet__{{ id }}"
                                       id="__facet_dialog_checkbox_{{ esc_id }}"
                                       value="{{ value.0|escape }}"
                                        {% ifinfacets id value.0 %}
                                       checked
                                        {% endifinfacets %}
                                        >
                                <label for="__facet_dialog_checkbox_{{ esc_id }}">
                                    <span>
                                        {% if i18n_requested %}
                                            {% trans value.0 %}
                                        {% else %}
                                            {{ value.0 }}
                                        {% endif %}
                                    </span>
                                    <span class="text-muted">({{ value.1 }})</span>
                                </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Hide" %}</button>
                <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
            </div>
        </div>
    </div>
</div>

