{% extends "web/repository/base.html" %}

{% load i18n %}

{% block title %}{{ title }} - {% endblock %}


{% block left_block %}
    <div class="left-search-bar panel">
        <form>

            <div class="panel-heading search">
                <h4>{% trans "Search" %}</h4>
            </div>
            {% block search_bar %}
            {% endblock %}

            {% block ordering %}
            {% endblock %}

            {% block facets %}
            {% endblock %}

            <div class="placeholder" style="height: 50px;"></div>

        </form>
    </div>

    {% with add_path=appname|add:":add" %}
    <a href="{% url add_path %}" class="btn btn-primary cesnet-create-new-button">{{ create_button_title }}</a>
    {%  endwith %}
{% endblock %}


{% block content %}
    <h1>
        {% block h1 %}{{ title }}{% endblock %}</h1>
    <div class="container-fluid">
        {% block search_results %}
        {% endblock %}
    </div>
{% endblock %}


