h3.fedoralink-edit-region {
    color: gray;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-left: -40px;
    border-bottom: 1px dotted lightgray;
}

.fedoralink-edit-controls {
    margin-left: 40px;
}

.no-space-above {
    padding-top: 0px;
    margin-top: -50px;
}

.linked-field-label {
    cursor: pointer;
}

#linked-field-selector {
    border: 0px;
    width: 100%;
    min-height: 400px;
    overflow-x: hidden;
}

.link-view-body {
    overflow-x: hidden;
}
