{% extends base_template %}
{% load bootstrap_pagination %}
{% load i18n %}
{% load fedoralink_tags %}

{% block search_bar %}
      <input type="text" class="form-control" id="searchstring" name=searchstring placeholder="{% trans "Text to search" %}" value="{{ searchstring }}">
{% endblock %}

{% block bodyclasses %}
link-view-body
{% endblock %}

{% block search_results %}
    <div class="search-results-without-pagination">
        <table class="search-results">
        {% for item in page %}
            <a href="" data-link-location="{{item.pk}}" data-link-id="{{item.pk|id_from_path}}" class="linked-field-pass-link">
                {% with object=item %}
                    {% include item_template %}
                {% endwith %}
            </a>
        {% endfor %}
        </table>
    </div>
    {% if page.has_other_pages %}
        {% bootstrap_paginate page range=15 %}
    {% endif %}
{% endblock %}

{% block ordering %}
    <div class="panel panel-default facet-box ordering-box">
            <select class="form-control" name="sort">
                {% for order in orderings %}
                    <option value="{{ order.0 }}" {% if ordering == order.0 %}selected{% endif %}>{{ order.1 }}</option>
                {% endfor %}
            </select>
    </div>
{% endblock %}

{% block facets %}
    <div class="panel-group">
        {% for facet in data.facets %}
            {% render_facet_box facet facet_names %}
        {% endfor %}
    </div>
{% endblock %}

{% block endbody %}
    <script>

        $(document).ready(function() {
            $('.facet-box').on('click', 'input', function() {
                $('input[name="' + $(this).attr('name') + '"][value="' + $(this).attr('value') + '"]').prop('checked', $(this).is(':checked'));
                $('form').submit();
            });
             $('.ordering-box').on('change', 'select', function() {
                 $('form').submit();
            });
        });

    </script>
{% endblock %}

